{% extends "base.html" %}



{% block productList %}
{% for product in products %}
<ul>

    <li>
        <a href="{% url 'products:product1'  product.slug %}">View</a>
        {% for item in product.productimage_set.all %}

        <img src="{{item.image.url}}" style="width: 80 ; height: 80px; " />
        {% endfor %}
        {{product.title}} for {{product.price }} rupees SLUG ={{ product.slug}}</li>
</ul>
{% endfor %}
{% endblock productList %}


<!-- <div class="jumbotron">
    <h1>Navbar example</h1>
    <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll,
        it will remain fixed to the top of your browser’s viewport.</p>
    <a class="btn btn-lg btn-primary" href="/docs/4.4/components/navbar/" role="button">View navbar docs
        &raquo;</a>
</div> -->
